body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.start-screen, .oyun-ekrani {
    width: 90%;
    max-width: 800px;
    padding: 2rem;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}