body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.start-screen, .oyun-ekrani {
    width: 90%;
    max-width: 800px;
    padding: 2rem;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}

/* Görselleri yan yana dizen kapsayıcı (Flexbox) */
.gorsel-alani {
    display: flex;
    justify-content: center; /* Ortala */
    gap: 20px; /* Görseller arası boşluk */
    margin-top: 2rem;
    flex-wrap: wrap; /* Mobilde alt satıra geçsin */
}

.gorsel-kapsayici {
    cursor: pointer; /* Tıklanabilir el işareti çıksın */
    transition: transform 0.2s; /* Hafif animasyon */
    border: 4px solid transparent; /* Çerçeve payı */
    border-radius: 12px;
}

.gorsel-kapsayici:hover {
    transform: scale(1.05); /* Üzerine gelince biraz büyüsün */
    /*border-color: #007bff; /* Üzerine gelince mavi çerçeve */
}

/* Resmin kendisi */
.gorsel-resim {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    display: block;
}

.gorsel-kapsayici.secili {
    border-color: #2563eb; /* Mavi çerçeve */
    box-shadow: 0 0 15px rgba(37, 99, 235, 0.5); /* Hafif mavi parlama */
    transform: scale(1.05); /* Seçilince büyük kalsın */
}